
:root {
    ---text-color: #111;
    --secondary-color: #FF385C;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 27px;
}
p span {
    font-weight: 600;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: var(---text-color);
    position: relative;
}
h2.title span {
    color: var(--secondary-color);
}
.container {
    width: 95vw;
    max-width: 1280px;
    margin: auto;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* nav css start */
header {
    height: 75px;
    display: flex;
    align-items: center;
}
.head_wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
}
.login_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 28px;
    border-radius: 5px;

}
/* nav css end */

/* header css start */
#header {
    background-color: #eee;
    background-image: url("./images/bg.jpg");
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_title {
    font-size: 80px;
}
/* h2.header_title:before {content: '';display: block;position: absolute;width: 150px;height: 4px;background: var(--secondary-color);left: 50%;transform: translateX(-50%);top: 115px;} */
/* header css end */

/* what we do css start */
h2.title:before {content: '';display: block;position: absolute;width: 120px;height: 4px;background: var(--secondary-color);left: 50%;transform: translateX(-50%);top: 65px;}

.whatWeDo_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    column-gap: 30px;
}
.contents:first-letter {font-size: 40px;font-style: italic;color: var(--secondary-color);}
/* what we do css end */

/* why us css start */
#whyUs {
    background-color: #eee;
}
.whyUs_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    column-gap: 30px;
}
/* why us css end */
